/* main.css */
html,
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    line-height: var(--vscode-line-height);
    padding: 0px;

}

::selection {
    background: var(--vscode-editor-selectionBackground);
}

::-moz-selection {
    background: var(--vscode-editor-selectionBackground);
}

.inactive-selection *::selection {
    background: var(--vscode-editor-inactiveSelectionBackground);
}

.inactive-selection *::-moz-selection {
    background: var(--vscode-editor-inactiveSelectionBackground);
}

app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#model-bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-top: 1px solid var(--vscode-activityBar-border);
}

select {
    margin: 10px 10px 5px 10px;
    padding: 5px;
    flex: 1;
    background: var(--vscode-dropdown-background);
    color: var(--vscode-symbolIcon-enumMemberForeground);
    border: 1px solid var(--vscode-dropdown-background);
    border-radius: 4px;
    outline: 0;
}

select:focus {
    outline: 0;
    border: 1px solid var(--vscode-dropdown-background);
}

#output-container {
    flex: 1;
    overflow-y: auto;
    padding: 0px 20px 20px 20px;
}

#input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 0px 10px 0px;
    box-sizing: border-box;
    background: var(--vscode-sidebar-background);
    /* border-top: 1px solid var(--vscode-activityBar-border); */
}

#message-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
}

.message-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    opacity: 1;
}

.assistant-message-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    opacity: 1;
}

.sender-user {
    color: var(--vscode-symbolIcon-constructorForeground);
    font-weight: bold;
    margin-bottom: 5px;
}

.sender-assistant {
    color: var(--vscode-symbolIcon-classForeground);
    font-weight: bold;
    margin-bottom: 5px;
}

.sender-system {
    color: var(--vscode-symbolIcon-enumForeground);
    font-weight: bold;
    margin-bottom: 5px;
}

.sender-function {
    color: var(--vscode-symbolIcon-enumForeground);
    font-weight: bold;
    margin-bottom: 5px;
}

.system-message {
    font-style: italic;
}

.user-message {
    line-break: auto;
}

.function-message {
    max-height: 20px;
    overflow: hidden;
    line-break: auto;
    padding-right: 17px;
    transition: max-height 0.5s ease-in-out;
}

.function-message:hover {
    opacity: 1;
    max-height: 300px;
    line-break: auto;
    /* Add a right padding to compensate for the scrollbar width */
}

.function-message:hover {
    height: auto;
    overflow: scroll;
    /* Always show the scrollbar */
}

.user-message:hover {
    height: auto;
}

.user-message:hover {
    text-decoration: line-through;
}

.assistant-message {
    line-break: auto;
}


.margin-right-5 {
    margin-right: 5px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-auto {
    margin-left: auto;
}

.inputbox {
    flex-grow: 1;
    padding: 10px 35px 10px 10px;
    margin: 0px 10px 0px 10px;
    line-height: 1.4em;
    border: 1px solid var(--vscode-input-background);
    background: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    outline: none;
    overflow: hidden;
    resize: none;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 4px;
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
}

.inputbox::-webkit-scrollbar {
    display: none;
}

.inputbox::placeholder {
    color: var(--vscode-input-placeholderForeground);
}

.inputbox:focus {
    border: 1px solid var(--vscode-focusBorder);
}

textarea {
    border: none;
    outline: none;
}

textarea:focus {
    border: none;
    outline: none;
}

.button {
    padding: 5px 10px 5px 10px;
    background: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    margin: 0px 0px 0px 10px;
}

/* .button:hover {
    background: var(--vscode-button-hoverBackground);
} */

.button:disabled {
    color: var(--vscode-disabledForeground);
    cursor: default;
}

.button-overlap-inputbox {
    position: absolute;
    border-radius: 3px;
    border: none;
    outline: none;
    z-index: 10;
    padding: 5px;
    width: 25px;
    /* height: 25px; */
    /* margin-top: 1px; */
    right: 21px;
    bottom: 16px;
    margin-left: 5px;
    background: transparent;
    color: var(--vscode-input-placeholderForeground);
}

.button-overlap-inputbox:hover {
    color: var(--vscode-input-foreground);
}

.button-overlap-inputbox:disabled {
    background: transparent;
}

.codeblock-icon {
    line-height: 25px;
    background: transparent;
    color: var(--vscode-input-placeholderForeground);
    outline: none;
}

.icon-25 {
    width: 25px;
    height: 25px;
}

.button-icon {
    border-radius: 3px;
    border: none;
    outline: none;
    width: 25px;
    height: 25px;
    background: transparent;
    color: var(--vscode-input-placeholderForeground);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-icon:hover {
    background: var(--vscode-toolbar-hoverBackground);
}

.button-icon:disabled {
    background: transparent;
}

.text-button-container {
    z-index: 9999;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 4px;
    background: var(--vscode-input-background);
    border-color: var(--vscode-dropdown-border);
    box-shadow: 0px 0px 8px 2px var(--vscode-widget-shadow);
}

#code-wrapper {
    margin: 10px 0px 10px 0px;
    border-radius: 3px;
    border: solid;
    border-color: var(--vscode-editor-background);
}

.codeblock-header {
    background: var(--vscode-editor-background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 5px 0px 5px;
}

p {
    margin: 0px;
}

pre {
    overflow: scroll;
    padding: 10px 10px 5px 10px;
    margin: 0px;
    border-radius: 3px;
    background: var(--vscode-editor-background);
}

hr {
    color: var(--vscode-editor-foreground);
}

code {
    font-family: var(--vscode-editor-font-family);
    font-weight: var(--vscode-editor-font-weight);
    font-size: var(--vscode-editor-font-size);
    background: var(--vscode-editor-background);
    color: var(--vscode-editor-textForeground);
}

blockquote {
    padding: 10px;
    margin: 10px 0px;
    background: var(--vscode-editor-background);
    border: solid;
    border-color: var(--vscode-editor-background);
    font-family: var(--vscode-editor-font-family);
    font-weight: var(--vscode-editor-font-weight);
    font-size: var(--vscode-editor-font-size);
    color: var(--vscode-editor-textForeground);
}

/* Define the fade-out keyframe animation */
@keyframes system-message-fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

/* Apply the animation to the element */
.system-message-fade {
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-name: system-message-fade;
    animation-timing-function: ease-in;
}